.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.add-new-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}


.title-group{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "nameArea descArea";
}

.title-group h3{
    grid-area: descArea;
    background-color: rgb(151, 151, 151);
    text-align: center;
}

.id-area{
    grid-area: nameArea;
    background-color: rgb(247, 233, 43);
    text-align: center;
    font-size: 25pt;
    padding: 20px;
    flex-grow: 1;
    max-width: 120px;
}