.container{
  display: grid;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: 0.3fr 1fr 1fr;
  
  grid-template-areas: "sidebar workes chart0"
                       "sidebar areax areax";
}

.side-bar{
  width: 100%;
  grid-area: sidebar;
  background-color: rgb(110, 110, 110);
}


.findWorkers{
  width: 100%;
  grid-area: workes;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c0{
  width: 100%;
  grid-area: chart0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.area{
  grid-area: areax;
  display: flex;
  justify-content: center;
  align-items: center;
}

